<!DOCTYPE html>
<html lang="en">

<head>
    <title>Angular</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <script defer src="assets/fontawesome/js/all.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/prism/prism.css">
    <link rel="stylesheet" href="assets/plugins/elegant_font/css/style.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">

    <style>
        code.language-javascript {
            width: 100%;
        }
    </style>

</head>

<body class="body-green">
    <div class="page-wrapper">
        <div class="doc-wrapper">
            <div class="container">
                <div class="doc-body row">
                    <div class="doc-content col-md-9 col-12 order-1">
                        <div class="content-inner">
                            <section id="angular-section" class="doc-section">
                                <div id="angular-interpolation" class="section-block">
                                    <div class="code-block">
                                        <h6>Interpolation</h6>
                                        <pre><code class="language-javascript">
// VD 1
{{ title.length }}
{{ 2 + 5 }}
{{ "Hello, " + "Khanh" }}
// VD 2
@Component({
    template: `
        &lt;div&gt;
            &lt;h2&gt;
                {{message}}
            &lt;/h2&gt;
        &lt;/div&gt;
    `
})
export class AppComponent {
    message = "My Message"
}
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-input" class="section-block">
                                    <div class="code-block">
                                        <h6>@Input</h6>
                                        <p>Để để chia sẻ biến hoặc giá trị nào đó từ component cha với component con bên trong, chúng ta có thể sử dụng @Input:</p>
                                        <pre><code class="language-javascript">
// children.component.ts
import { Component, OnInit, Input } from '@angular/core';
                                        </code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-property-binding" class="section-block">
                                    <div class="code-block">
                                        <h6>Property Binding</h6>
                                        <pre><code class="language-javascript">                                         
// component.html
&lt;button [disabled]="buttonDisabled"&gt;&lt;/button&gt;
// component.ts
@Component({
    templateUrl: 'component.html',
    selector: 'app-component',
})
export class Component {
    buttonDisabled = true;
}
// Element Binding
@Component({
   template: `
       &lt;div&gt;
           &lt;img [src]="imageURL" /&gt;
       &lt;/div&gt;
   `
})
export class AppComponent {
   imageURL = "./images/k.png"
   constructor() {
       setInterval(()=>this.imageURL = './images/p.png', 1000)
   }
}
// Component Binding
@Component({
    template: `
        &lt;child [data]="dataSource"&gt;&lt;/child&gt;    
    `
})
export class Parent {
    dataSource = 'My Source'
    constructor() {
        setInterval(()=&gt; this.dataSource = "My S" + Date.now(),1000)
    }
}
@Component({
    selector: 'child',
    template: `
     &lt;h2&gt;{{data}}&lt;/h2&gt;
    `
})
export class Child {
    @Input data
}
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-ngFor" class="section-block">
                                    <div class="code-block">
                                        <h6>Update</h6>
                                        <pre><code class="language-javascript">
&lt;li *ngFor="let cv of todo"&lt;{{cv}}&gt;/li&gt;
										</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-delaretion" class="section-block">
                                    <div class="code-block">
                                        <h6>Delaretion</h6>
                                        <p>Là một mảng chứa các khai báo</p>
                                        <pre><code class="language-javascript">
declarations: [
    AppComponent,
    NewCmpComponent
]
										</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-import" class="section-block">
                                    <div class="code-block">
                                        <h6>Import</h6>
                                        <p>Chứa các module sử dụng trong ứng dụng hoặc các module sử dụng trong các
                                            component</p>
                                        <pre><code class="language-javascript">
import { FormsModule } from @angular/forms;

imports: [
    BrowserModule,
    FormsModule // Module form mới được thêm
]
										</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-providers" class="section-block">
                                    <div class="code-block">
                                        <h6>Providers</h6>
                                        <p>Provider chứa các service mà chúng ta tạo ra</p>
                                        <pre><code class="language-javascript">
										</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-bootstrap" class="section-block">
                                    <div class="code-block">
                                        <h6>Bootstrap</h6>
                                        <p>Chứa component chính thực thi chương trình</p>
                                        <pre><code class="language-javascript">
										</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-if" class="section-block">
                                    <div class="code-block">
                                        <h6>*ngIF</h6>
                                        <p>Chứa component chính thực thi chương trình</p>
                                        <pre><code class="language-javascript">
&lt;p *ngIf="is_available; then true_condition else false_condition">&lt;/p&gt;

&lt;ng-template #true_condition&gt;
    &lt;p&gt;Điều kiện đúng&lt;/p&gt;
&lt;/ng-template&gt;
&lt;ng-template #false_condition&gt;
    &lt;p&gt;Điều kiện sai&lt;/p&gt;
&lt;/ng-template&gt;

// OR

&lt;p *ngIf="is_available; else false_condition"&gt;Điều kiện đúng&lt;/p&gt;
&lt;ng-template #false_condition&gt;Điều kiện sai&lt;/ng-template&gt;
										</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-event" class="section-block">
                                    <div class="code-block">
                                        <h6>Event</h6>
                                        <pre><code class="language-javascript">
(event_name) = "function_name($event)"

// Click
&lt;button (click)="myClickFunction($event)"&gt;Click Me&lt;/button&gt;
// Change
&lt;select (change)="changemonths($event)"&gt;
    &lt;option *ngFor="let i of months"&gt;{{i}}&lt;/option&gt;
&lt;/select&gt;

// khai báo function myClickFunction trong component.ts

export class AppComponent {

    ...
    myClickFunction(event) {
        alert("Nhận được lệnh click từ button");
    }

    changemonths(event) {
        alert("Bạn vừa thay đổi tháng trong dropdown");
    }
    ...
}
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-ng-template" class="section-block">
                                    <div class="code-block">
                                        <h6>ng-template</h6>
                                        <p>Thường được sử dụng trong cấu trúc điều khiển if/else và switch case</p>
                                        <pre><code class="language-javascript">
&lt;p *ngIf="is_available; then true_condition else false_condition">&lt;/p&gt;

&lt;ng-template #true_condition&gt;
    &lt;p&gt;Điều kiện đúng&lt;/p&gt;
&lt;/ng-template&gt;
&lt;ng-template #false_condition&gt;
    &lt;p&gt;Điều kiện sai&lt;/p&gt;
&lt;/ng-template&gt;
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-directive" class="section-block">
                                    <div class="code-block">
                                        <h6>Directive</h6>
                                        <p>
                                            Directive trong Angular là một class javascript được khai báo với decorator
                                            @directive. Có 3 loại directive trong
                                            Angular: Component directive, Structural directive và Attribute directive
                                        </p>
                                        <pre><code class="language-javascript">
// Tạo directive
ng g directive &lt;ten_directive&gt;
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-pipe" class="section-block">
                                    <div class="code-block">
                                        <h6>Pipe</h6>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Directive</th>
                                                        <th>Ghi chú</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>lowercase</th>
                                                        <td>Chuyển chuỗi thành kí tự thường
                                                            VD: Freetuts.net thành freetuts.net</td>
                                                    </tr>
                                                    <tr>
                                                        <th>uppercase</th>
                                                        <td>Chuyển chuỗi thành kí tự hoa
                                                            VD: Freetuts.net thành FREETUTS.NET</td>
                                                    </tr>
                                                    <tr>
                                                        <th>date</th>
                                                        <td>Chuyển dữ liệu thành định dạng ngày tháng</td>
                                                    </tr>
                                                    <tr>
                                                        <th>currency</th>
                                                        <td>Chuyển dữ liệu thành định dạng tiền tệ</td>
                                                    </tr>
                                                    <tr>
                                                        <th>json</th>
                                                        <td>Chuyển dữ liệu về dạng JSON</td>
                                                    </tr>
                                                    <tr>
                                                        <th>percent</th>
                                                        <td>Chuyển dữ liệu về dạng %</td>
                                                    </tr>
                                                    <tr>
                                                        <th>decimal</th>
                                                        <td>Chuyển dữ liệu về dạng thấp phân</td>
                                                    </tr>
                                                    <tr>
                                                        <th>slice</th>
                                                        <td>Cắt dữ liệu của mảng. Giống như Array.prototype.slice()</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <pre><code class="language-javascript">
// Cú pháp
{{du_lieu | pipe}}

export class AppComponent {
    title = 'Angular 4 Project!';
    todaydate = new Date();
    jsonval = {name:'Rox', age:'25', address:{a1:'Mumbai', a2:'Karnataka'}};
    months = ["Jan", "Feb", "Mar", "April", "May", "Jun",
    "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
}
&lt;div style="width:100%;"&gt;
    &lt;div style="width:40%;float:left;border:solid 1px black;"&gt;
        &lt;h1&gt;Uppercase Pipe&lt;/h1&gt;
        &lt;b&gt;{{title | uppercase}}&lt;/b&gt;&lt;br /&gt;

        &lt;h1&gt;Lowercase Pipe&lt;/h1&gt;
        &lt;b&gt;{{title | lowercase}}&lt;/b&gt;

        &lt;h1&gt;Currency Pipe&lt;/h1&gt;
        &lt;b&gt; {{6589.23 | currency:"VND"}}&lt;/b&gt;&lt;br /&gt;
        &lt;b&gt; {{6589.23 | currency:"VND":true}}&lt;/b&gt; // Giá trị true để hiển thị kí hiệu của tiền tệ.

        &lt;h1&gt;Date pipe&lt;/h1&gt;
        &lt;b&gt;{{todaydate | date:'d/M/y'}}&lt;/b&gt;&lt;br /&gt;
        &lt;b&gt;{{todaydate | date:'shortTime'}}&lt;/b&gt;

        &lt;h1&gt;Decimal Pipe&lt;/h1&gt;
        &lt;b&gt;{{ 454.78787814 | number: '3.4-4' }}&lt;/b&gt; // 3 là phần nguyên, 4-4 là phần thực
    &lt;/div&gt;

    &lt;div style="width:40%;float:left;border:solid 1px black;"&gt;
        &lt;h1&gt;Json Pipe&lt;/h1&gt;
        &lt;b&gt;{{ jsonval | json }}&lt;/b&gt;
        &lt;h1&gt;Percent Pipe&lt;/h1&gt;
        &lt;b&gt;{{00.54565 | percent}}&lt;/b&gt;
        &lt;h1&gt;Slice Pipe&lt;/h1&gt;
        &lt;b&gt;{{months | slice:2:6}}&lt;/b&gt;
        // 2 và 6 là vị trí bắt đầu và vị trí kết thúc
    &lt;/div&gt;
&lt;/div&gt;

// Create my Pipe
app.name_pipe.ts
import {Pipe, PipeTransform} from '@angular/core';
@Pipe ({
    name : 'sqrt'
})
export class SqrtPipe implements PipeTransform {
    transform(val : number) : number {
        return Math.sqrt(val);
    }
}
//app.module.ts
import { SqrtPipe } from './app.sqrt';
@NgModule({
    declarations: [
        ...
        // Khai báo sqrt pipe
        SqrtPipe
    ],
    imports: [
        BrowserModule
    ],
    providers: [],
    bootstrap: [AppComponent]
})
&lt;b&gt;Căn bậc hai của 25 là : {{25 | sqrt}}&lt;/b&gt;
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-router" class="section-block">
                                    <div class="code-block">
                                        <h6>Router</h6>
                                        <pre><code class="language-javascript">
// app.module.ts
import {RouterModule} from '@angular/router'
@NgModule({
  declarations: [
    AppComponent,
    NewCmpComponent
  ],
  imports: [
    BrowserModule,
    // Cài đặt cho router: path nào tương ứng với component nào.
    RouterModule.forRoot([
      {
         path: 'new-cmp',
         component: NewCmpComponent
      }
   ])
  ],
  providers: [],
  bootstrap: [AppComponent]
})
&lt;a routerLink="new-cmp"&gt;Click vào đây để hiển thị New Component&lt;/a&gt;
&lt;router-outlet&gt;&lt;/router-outlet&gt;
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-service" class="section-block">
                                    <div class="code-block">
                                        <h6>Service</h6>
                                        <p>Chia sẻ dữ liệu giữa các component với nhau</p>
                                        <pre><code class="language-javascript">
// Install 
ng g service myservice
// Injectable module: module có thể mang vào sử dụng trong module khác - cơ chế Dependency Injection
// app.module.ts
import { MyserviceService } from './myservice.service';
providers: [MyserviceService],
// myservice.service.ts
export class MyserviceService {

  constructor() { }
  myProperty;
  getTodayDate() {
    let ndate = new Date();
    return ndate;
  }
}
// app.component.ts
import { MyserviceService } from './myservice.service';
export class AppComponent {
  constructor(private myservice: MyserviceService) { }
  title = 'bai1';
  todaydate;
  propertyService;
  ngOnInit() {
    this.todaydate = this.myservice.getTodayDate();
    this.myservice.myProperty = "myProperty: App Component";
    this.propertyService = this.myservice.myProperty;
  }
}
// app.component.html
&lt;h3&gt;Dữ liệu todaydate ở App Component: {{todaydate}}&lt;/h3&gt;
&lt;h3&gt;Property service: {{propertyService}}&lt;/h3&gt;
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-http-service" class="section-block">
                                    <div class="code-block">
                                        <h6>Http service</h6>
                                        <pre><code class="language-javascript">
// app.module.ts
import { HttpClientModule } from '@angular/common/http';
imports: [ HttpClientModule]
// app.component.ts
import { HttpClient } from '@angular/common/http';
constructor(private myservice: MyserviceService, private http: HttpClient) { }
results;
ngOnInit() {
    this.http.get("http://jsonplaceholder.typicode.com/users").subscribe(data => {
      console.log(data);
      this.results = data;
    });
  }
// app.component.html
&lt;tr *ngFor="let user of results"&gt;...&lt;/tr&gt;
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-form" class="section-block">
                                    <div class="code-block">
                                        <h6>Form</h6>
                                        <pre><code class="language-javascript">
// Template Driven Form
// app.module.ts
import { FormsModule } from '@angular/forms';
imports: [FormsModule]
// app.component.html
&lt;form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)"&gt;
    &lt;input type="text" name="username" placeholder="username" ngModel&gt;
    &lt;br /&gt;
    &lt;input type="password" name="pwd" placeholder="password" ngModel&gt;
    &lt;br /&gt;
    &lt;input type="submit" value="submit"&gt;
&lt;/form&gt;
// app.component.ts
export class AppComponent {
    onClickSubmit(data) {
        alert("Username bạn vừa nhập là : " + data.username);
     }
}
// Model Driven Form
// app.component.ts
import { ReactiveFormsModule } from '@angular/forms';
imports: [ReactiveFormsModule]
// app.component.ts
import { FormGroup, FormControl, Validators } from '@angular/forms';
export class AppComponent {
    username;
    formdata;
    ngOnInit() {
        this.formdata = new FormGroup({
            username: new FormControl("Freetuts.net", Validators.compose([
                Validators.required,
                Validators.minLength(3),
                Validators.maxLength(20)
            ])),
            pwd: new FormControl("abcd1234", this.pwdLengthValidator)
        });
    }
    onClickSubmit(data) { this.username = data.username; }
    pwdLengthValidator(control){
    if(control.value.length &lt; 6){ return {pwd: true}; } }
}
// app.component.html
&lt;div&gt;
    &lt;form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)"&gt;
        &lt;input type="text" class="fortextbox" name="username" placeholder="username" formControlName="username"&gt;
        &lt;br /&gt;

        &lt;input type="pwd" class="fortextbox" name="pwd" placeholder="pwd" formControlName="pwd"&gt;
        &lt;br /&gt;

        &lt;input type="submit" [disabled] = "!formdata.valid" class="forsubmit" value="Log In"&gt;
    &lt;/form&gt;
&lt;/div&gt;
&lt;p&gt;
    Bạn vừa nhập username : {{username}}
&lt;/p&gt;
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-animation" class="section-block">
                                    <div class="code-block">
                                        <h6>Animation</h6>
                                        <pre><code class="language-javascript">
// app.module.ts
import { BrowserModule } from '@angular/platform-browser';
imports: [BrowserAnimationsModule],
// app.component.html
&lt;div&gt;
    &lt;button (click)="animate()"&gt;Click Me&lt;/button&gt;
    &lt;div [@myanimation]="state" class="rotate"&gt;
        &lt;img style="width: 340px; height: 82px" src=""
            width="100" height="100"&gt;
    &lt;/div&gt;
&lt;/div&gt;
// app.component.ts
import { trigger, state, style, transition, animate } from '@angular/animations';
@Component({
    selector: 'app-root',
    templateUrl: './app.component.html',
    styleUrls: ['./app.component.css'],
    styles: [`
      div{
         margin: 0 auto;
         text-align: center;
      }
      .rotate{
          width: 340px;
          heigh: 82px;
         border:solid 1px red;
      }
   `],
    animations: [
        trigger('myanimation', [
            state('smaller', style({
                transform: 'translateY(100px)'
            })),
            state('larger', style({
                transform: 'translateY(0px)'
            })),
            transition('smaller &lt;=&gt; larger', animate('300ms ease-in'))
        ])
    ]
})
 
export class AppComponent {
    state: string = "smaller";
    animate() {
        this.state = this.state == 'larger' ? 'smaller' : 'larger';
    }
}
                                        </code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-cli" class="section-block">
                                    <div class="code-block">
                                        <h6>Angular CLI</h6>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Directive</th>
                                                    <th>Ghi chú</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>ng new PROJECT-NAME</th>
                                                    <td>Tạo project Angular mới tên là PROJECT-NAME</td>
                                                </tr>
                                                <tr>
                                                    <th>ng g component new-component</th>
                                                    <td>Tạo component mới có tên là new-component</td>
                                                </tr>
                                                <tr>
                                                    <th>ng g directive new-directive</th>
                                                    <td>Tạo directive mới có tên là new-directive</td>
                                                </tr>
                                                <tr>
                                                    <th>ng g pipe new-pipe</th>
                                                    <td>Tạo pipe mới có tên là new-pipe</td>
                                                </tr>
                                                <tr>
                                                    <th>ng g service new-service</th>
                                                    <td>Tạo service mới có tên là new-service</td>
                                                </tr>
                                                <tr>
                                                    <th>ng g module my-module</th>
                                                    <td>Tạo module mới có tên là my-module</td>
                                                </tr>
                                                <tr>
                                                    <th>ng serve --port 3006 --open</th>
                                                    <td>Biên dịch project, chạy ở cổng 3006 và tự động mở lên trình duyệt khi biên dịch xong</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pre><code class="language-javascript">
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <!--//section-block-->
                            </section>
                            <!--//doc-section-->
                            </section>
                            <!--//doc-section-->
                        </div>
                        <!--//content-inner-->
                    </div>
                    <!--//doc-content-->
                    <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                        <div id="doc-nav" class="doc-nav">

                            <nav id="doc-menu" class="nav doc-menu flex-column sticky">
                                <a class="nav-link scrollto" href="#angular-section">Angular</a>
                                <nav class="doc-sub-menu nav flex-column">
                                    <a class="nav-link scrollto" href="#angular-interpolation">Interpolation</a>
                                    <a class="nav-link scrollto" href="#angular-property-binding">Property binding</a>
                                    <a class="nav-link scrollto" href="#angular-input">@Input</a>
                                    <a class="nav-link scrollto" href="#angular-ngFor">*ngFor</a>
                                    <a class="nav-link scrollto" href="#angular-ngIf">*ngIf</a>
                                    <a class="nav-link scrollto" href="#angular-delaretion">Delaretion</a>
                                    <a class="nav-link scrollto" href="#angular-import">Import</a>
                                    <a class="nav-link scrollto" href="#angular-providers">Providers</a>
                                    <a class="nav-link scrollto" href="#angular-bootstrap">Bootstrap</a>
                                    <a class="nav-link scrollto" href="#angular-event">Event</a>
                                    <a class="nav-link scrollto" href="#angular-ng-template">ng-template</a>
                                    <a class="nav-link scrollto" href="#angular-directive">Directive</a>
                                    <a class="nav-link scrollto" href="#angular-pipe">Pipe</a>
                                    <a class="nav-link scrollto" href="#angular-router">Router</a>
                                    <a class="nav-link scrollto" href="#angular-service">Service</a>
                                    <a class="nav-link scrollto" href="#angular-http-service">Http service</a>
                                    <a class="nav-link scrollto" href="#angular-form">Form</a>
                                    <a class="nav-link scrollto" href="#angular-animation">Animation</a>
                                    <a class="nav-link scrollto" href="#angular-cli">Angular CLI</a>
                                </nav>
                                <!--//nav-->
                            </nav>
                            <!--//doc-menu-->

                        </div>
                    </div>
                    <!--//doc-sidebar-->
                </div>
                <!--//doc-body-->
            </div>
            <!--//container-->
        </div>
        <!--//doc-wrapper-->

    </div>
    <!--//page-wrapper-->

    <!-- Main Javascript -->
    <script type="text/javascript" src="assets/plugins/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>      
    <script type="text/javascript" src="assets/plugins/stickyfill/dist/stickyfill.min.js"></script>                                                             
    <script type="text/javascript" src="assets/js/main.js"></script>

</body>

</html>