<!DOCTYPE html>
<html lang="en">

<head>
    <title>Angular</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <script defer src="assets/fontawesome/js/all.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/prism/prism.css">
    <link rel="stylesheet" href="assets/plugins/elegant_font/css/style.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">

    <style>
        code.language-javascript {
            width: 100%;
        }
    </style>

</head>

<body class="body-green">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="example.html">Example</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="angular.html">Angular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mysql.html">Mysql</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reactjs.html">Reactjs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="vtiger.html">Vtiger</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
    <div class="page-wrapper">
        <div class="doc-wrapper">
            <div class="container">
                <div class="doc-body row">
                    <div class="doc-content col-md-9 col-12 order-1">
                        <div class="content-inner">
                            <section id="angular-section" class="doc-section">
                                <div id="angular-interpolation" class="section-block">
                                    <div class="code-block">
                                        <h6>Interpolation</h6>
                                        <pre><code class="language-javascript">
// VD 1
{{ title.length }}
{{ 2 + 5 }}
{{ "Hello, " + "Khanh" }}
// VD 2
@Component({
    template: `
        &lt;div&gt;
            &lt;h2&gt;
                {{message}}
            &lt;/h2&gt;
        &lt;/div&gt;
    `
})
export class AppComponent {
    message = "My Message"
}
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-input" class="section-block">
                                    <div class="code-block">
                                        <h6>@Input</h6>
                                        <p>Để để chia sẻ biến hoặc giá trị nào đó từ component cha với component con bên trong, chúng ta có thể sử dụng @Input:</p>
                                        <pre><code class="language-javascript">
// parent.component.ts
export class ParentComponent {
    public isActive : boolean = true;
}
// parent.component.html
&lt;children-component [active]="isActive" &gt;&lt;children-component/&gt;
&lt;children-component active="{{isActive}}" &gt;&lt;children-component/&gt;
// children.component.ts
import { Component, OnInit, Input } from '@angular/core';
export class ChildrenComponent {
    @input('active') isActive : boolean = false;
    private _name : string;
    @input()
    set name(name:string){
        this._name = name;
    }
    get name(){
        return this._name;
    }
}
// children.component.html
{{isActive?"OK":"NO"}}
                                        </code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-output" class="section-block">
                                    <div class="code-block">
                                        <h6>@Output</h6>
                                        <p>Để để chia sẻ biến hoặc giá trị nào đó từ component con với component cha, chúng ta có thể sử dụng
                                            @Output:</p>
                                        <pre><code class="language-javascript">
// children.component.ts
import { Component, OnInit, Output, EventEmitter } from '@angular/core';
name:string;
@Output('key_name') onHandleName = new EventEmitter&lt;string&gt;();
onSubmit(){
    this.onHandleName.emit(this.name);
}
// parent.component.html
&lt;children-component (key_name)="onGetName($event)" &gt;&lt;children-component/&gt;
// parent.component.ts
export class ParentComponent {
    onGetName(value){
        console.log(value);
    }
}
                                        </code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-data-binding" class="section-block">
                                    <div class="code-block">
                                        <h6>Data Binding</h6>
                                        <pre><code class="language-javascript">                                         
// component.html
&lt;button [disabled]="buttonDisabled"&gt;&lt;/button&gt;
// component.ts
@Component({
    templateUrl: 'component.html',
    selector: 'app-component',
})
export class Component {
    buttonDisabled = true;
}
// Property: src, value, href, disabled, hidden
@Component({
   template: `
       &lt;div&gt;
           &lt;img [src]="imageURL" /&gt;
           &lt;img bind-src="imageURL" /&gt;
       &lt;/div&gt;
   `
})
// Property: colspan, href, border, height, width
@Component({
   template: `
       &lt;table [attr.width]="table_width"&gt;
           ...
       &lt;/table&gt;
   `
})
// Class Binding
@Component({
   template: `
       &lt;table [class.table-bordered]="show_class"&gt;
           ...
       &lt;/table&gt;
       &lt;table [class.table-bordered]="show_class_text==='show'"&gt;
           ...
       &lt;/table&gt;
   `
})
// Style Binding
@Component({
   template: `
       &lt;table [style.background-color]="is_red?'red':'blue'"&gt;
           ...
       &lt;/table&gt;
       &lt;table [style.background-color]="'green'"&gt;
           ...
       &lt;/table&gt;
       &lt;table [style.font-size.px]="size"&gt;
           ...
       &lt;/table&gt;
   `
})
export class AppComponent {
   imageURL : string = "./images/k.png";
   table_width : number = 500;
   show_class : boolean = true;
   show_class_text : string = "show";
   is_red : boolean = true;
   size : number = 24;
   array: any[] = [];
   constructor() {
       setInterval(()=>this.imageURL = './images/p.png', 1000)
   }
}

// Tow Way Biding
// module.ts
import {FormsModule} from '@angular/forms';
imports: [FormsModule]
// component.ts
public name : string : '';
// component.html
&lt;h3&gt;{{name}}&lt;h3/&gt;
&lt;input type="text" [{ngModel}]="name" [ngModelOptions]="{standalone:true}" /&gt;
// Template reference variables
// component.html
&lt;input type="text" #txtName /&gt;
&lt;button (click)="getName(txtName.value)" type="button"/&gt;&lt;button/&gt;

&lt;input type="text" ref-txtName /&gt;
&lt;button (click)="getNameComponent()" type="button"/&gt;&lt;button/&gt;
// component.ts
getName(txtName) : void {
    console.log(txtName);
}
import {ViewChild,ElementRef} from '@angular/core';
@ViewChild('txtName') name : ElementRef;
getNameComponent() : void {
    console.log(this.name.nativeElement.value);
}
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-ngFor" class="section-block">
                                    <div class="code-block">
                                        <h6>*ngFor</h6>
                                        <pre><code class="language-javascript">
&lt;li *ngFor="let cv of todo"&lt;{{cv}}&gt;/li&gt;
										</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-ngIf" class="section-block">
                                    <div class="code-block">
                                        <h6>*ngIf</h6>
                                        <pre><code class="language-javascript">
&lt;p *ngIf="is_available; then true_condition else false_condition">&lt;/p&gt;

&lt;ng-template #true_condition&gt;
    &lt;p&gt;Điều kiện đúng&lt;/p&gt;
&lt;/ng-template&gt;
&lt;ng-template #false_condition&gt;
    &lt;p&gt;Điều kiện sai&lt;/p&gt;
&lt;/ng-template&gt;

// OR

&lt;p *ngIf="is_available; else false_condition"&gt;Điều kiện đúng&lt;/p&gt;
&lt;ng-template #false_condition&gt;Điều kiện sai&lt;/ng-template&gt;
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-delaretion" class="section-block">
                                    <div class="code-block">
                                        <h6>Delaretion</h6>
                                        <p>Là một mảng chứa các khai báo</p>
                                        <pre><code class="language-javascript">
declarations: [
    AppComponent,
    NewCmpComponent
]
										</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-import" class="section-block">
                                    <div class="code-block">
                                        <h6>Import</h6>
                                        <p>Chứa các module sử dụng trong ứng dụng hoặc các module sử dụng trong các
                                            component</p>
                                        <pre><code class="language-javascript">
import { FormsModule } from @angular/forms;

imports: [
    BrowserModule,
    FormsModule // Module form mới được thêm
]
										</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-providers" class="section-block">
                                    <div class="code-block">
                                        <h6>Providers</h6>
                                        <p>Provider chứa các service mà chúng ta tạo ra</p>
                                        <pre><code class="language-javascript">
										</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-bootstrap" class="section-block">
                                    <div class="code-block">
                                        <h6>Bootstrap</h6>
                                        <p>Chứa component chính thực thi chương trình</p>
                                        <pre><code class="language-javascript">
										</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-ng-template class="section-block">
                                    <div class="code-block">
                                        <h6>*ngIF</h6>
                                        <p>Chứa component chính thực thi chương trình</p>
                                        <pre><code class="language-javascript">
&lt;p *ngIf="is_available; then true_condition else false_condition">&lt;/p&gt;

&lt;ng-template #true_condition&gt;
    &lt;p&gt;Điều kiện đúng&lt;/p&gt;
&lt;/ng-template&gt;
&lt;ng-template #false_condition&gt;
    &lt;p&gt;Điều kiện sai&lt;/p&gt;
&lt;/ng-template&gt;

// OR

&lt;p *ngIf="is_available; else false_condition"&gt;Điều kiện đúng&lt;/p&gt;
&lt;ng-template #false_condition&gt;Điều kiện sai&lt;/ng-template&gt;
										</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-event" class="section-block">
                                    <div class="code-block">
                                        <h6>Event</h6>
                                        <pre><code class="language-javascript">
(event_name) = "function_name($event)"

// Click
&lt;button (click)="myClickFunction($event)"&gt;Click Me&lt;/button&gt;
// Change
&lt;select (change)="changemonths($event)"&gt;
    &lt;option *ngFor="let i of months"&gt;{{i}}&lt;/option&gt;
&lt;/select&gt;

// khai báo function myClickFunction trong component.ts

export class AppComponent {

    ...
    myClickFunction(event) {
        alert("Nhận được lệnh click từ button");
    }

    changemonths(event) {
        alert("Bạn vừa thay đổi tháng trong dropdown");
    }
    ...
}
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-ng-template" class="section-block">
                                    <div class="code-block">
                                        <h6>ng-template</h6>
                                        <p>Thường được sử dụng trong cấu trúc điều khiển if/else và switch case</p>
                                        <pre><code class="language-javascript">
&lt;p *ngIf="is_available; then true_condition else false_condition">&lt;/p&gt;

&lt;ng-template #true_condition&gt;
    &lt;p&gt;Điều kiện đúng&lt;/p&gt;
&lt;/ng-template&gt;
&lt;ng-template #false_condition&gt;
    &lt;p&gt;Điều kiện sai&lt;/p&gt;
&lt;/ng-template&gt;
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-directive" class="section-block">
                                    <div class="code-block">
                                        <h6>Directive</h6>
                                        <p>
                                            Directive trong Angular là một class javascript được khai báo với decorator
                                            @directive. Có 3 loại directive trong
                                            Angular: Component directive, Structural directive và Attribute directive
                                        </p>
                                        <pre><code class="language-javascript">
// Tạo directive
ng g directive &lt;ten_directive&gt;
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-pipe" class="section-block">
                                    <div class="code-block">
                                        <h6>Pipe</h6>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Directive</th>
                                                        <th>Ghi chú</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>lowercase</th>
                                                        <td>Chuyển chuỗi thành kí tự thường
                                                            VD: Freetuts.net thành freetuts.net</td>
                                                    </tr>
                                                    <tr>
                                                        <th>uppercase</th>
                                                        <td>Chuyển chuỗi thành kí tự hoa
                                                            VD: Freetuts.net thành FREETUTS.NET</td>
                                                    </tr>
                                                    <tr>
                                                        <th>date</th>
                                                        <td>Chuyển dữ liệu thành định dạng ngày tháng</td>
                                                    </tr>
                                                    <tr>
                                                        <th>currency</th>
                                                        <td>Chuyển dữ liệu thành định dạng tiền tệ</td>
                                                    </tr>
                                                    <tr>
                                                        <th>json</th>
                                                        <td>Chuyển dữ liệu về dạng JSON</td>
                                                    </tr>
                                                    <tr>
                                                        <th>percent</th>
                                                        <td>Chuyển dữ liệu về dạng %</td>
                                                    </tr>
                                                    <tr>
                                                        <th>decimal</th>
                                                        <td>Chuyển dữ liệu về dạng thấp phân</td>
                                                    </tr>
                                                    <tr>
                                                        <th>slice</th>
                                                        <td>Cắt dữ liệu của mảng. Giống như Array.prototype.slice()</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <pre><code class="language-javascript">
// Cú pháp
{{du_lieu | pipe}}

export class AppComponent {
    title = 'Angular 4 Project!';
    todaydate = new Date();
    jsonval = {name:'Rox', age:'25', address:{a1:'Mumbai', a2:'Karnataka'}};
    months = ["Jan", "Feb", "Mar", "April", "May", "Jun",
    "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
}
&lt;div style="width:100%;"&gt;
    &lt;div style="width:40%;float:left;border:solid 1px black;"&gt;
        &lt;h1&gt;Uppercase Pipe&lt;/h1&gt;
        &lt;b&gt;{{title | uppercase}}&lt;/b&gt;&lt;br /&gt;

        &lt;h1&gt;Lowercase Pipe&lt;/h1&gt;
        &lt;b&gt;{{title | lowercase}}&lt;/b&gt;

        &lt;h1&gt;Currency Pipe&lt;/h1&gt;
        &lt;b&gt; {{6589.23 | currency:"VND"}}&lt;/b&gt;&lt;br /&gt;
        &lt;b&gt; {{6589.23 | currency:"VND":true}}&lt;/b&gt; // Giá trị true để hiển thị kí hiệu của tiền tệ.

        &lt;h1&gt;Date pipe&lt;/h1&gt;
        &lt;b&gt;{{todaydate | date:'d/M/y'}}&lt;/b&gt;&lt;br /&gt;
        &lt;b&gt;{{todaydate | date:'shortTime'}}&lt;/b&gt;

        &lt;h1&gt;Decimal Pipe&lt;/h1&gt;
        &lt;b&gt;{{ 454.78787814 | number: '3.4-4' }}&lt;/b&gt; // 3 là phần nguyên, 4-4 là phần thực
    &lt;/div&gt;

    &lt;div style="width:40%;float:left;border:solid 1px black;"&gt;
        &lt;h1&gt;Json Pipe&lt;/h1&gt;
        &lt;b&gt;{{ jsonval | json }}&lt;/b&gt;
        &lt;h1&gt;Percent Pipe&lt;/h1&gt;
        &lt;b&gt;{{00.54565 | percent}}&lt;/b&gt;
        &lt;h1&gt;Slice Pipe&lt;/h1&gt;
        &lt;b&gt;{{months | slice:2:6}}&lt;/b&gt;
        // 2 và 6 là vị trí bắt đầu và vị trí kết thúc
    &lt;/div&gt;
&lt;/div&gt;

// Create my Pipe
app.name_pipe.ts
import {Pipe, PipeTransform} from '@angular/core';
@Pipe ({
    name : 'sqrt'
})
export class SqrtPipe implements PipeTransform {
    transform(val : number) : number {
        return Math.sqrt(val);
    }
}
//app.module.ts
import { SqrtPipe } from './app.sqrt';
@NgModule({
    declarations: [
        ...
        // Khai báo sqrt pipe
        SqrtPipe
    ],
    imports: [
        BrowserModule
    ],
    providers: [],
    bootstrap: [AppComponent]
})
&lt;b&gt;Căn bậc hai của 25 là : {{25 | sqrt}}&lt;/b&gt;
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-router" class="section-block">
                                    <div class="code-block">
                                        <h6>Router</h6>
                                        <pre><code class="language-javascript">
// index.html
&lt;base href="/"&gt;
// app.module.ts
import {RouterModule} from '@angular/router';
const appRoutes: Routes = [
  {
     path: '',
     redirecTo: '/index',
     pathMatch: 'full'
  },
  {
     path: 'index',
     component: HomeComponent
  },
  {
     path: 'about',
     component: AboutComponent
  },
  {
     path: '**',
     component: 404Component
  },
]
@NgModule({
  declarations: [
    AppComponent,
    NewCmpComponent
  ],
  imports: [
    BrowserModule,
    // Cài đặt cho router: path nào tương ứng với component nào.
    RouterModule.forRoot(appRoutes)
  ],
  providers: [],
  bootstrap: [AppComponent]
})
// app.component.html
&lt;a routerLink="name-path"&gtClick vào đây để hiển thị New Component&lt;/a&gt;
// OR
&lt;a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/']"&gt;Click vào đây để hiển thị New Component&lt;/a&gt;
&lt;a [routerLink]="['/about']"&gt;Click vào đây để hiển thị New Component&lt;/a&gt;
&lt;router-outlet&gt;&lt;/router-outlet&gt;
// Router by Event
// component.ts
import {Router} from '@angular/core';
export class AppComponent {
    constructor(){
        private serviceRouter : Router
    }
    navigate(url:string){
        this.serviceRouter.navigate([url]);
        // OR
        this.serviceRouter.navigateByUrl(url);
    }
}
// component.html
&lt;button (click)="navigate('contact')" "&gt;&lt;/button&gt;
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-router-get-params" class="section-block">
                                    <div class="code-block">
                                        <h6>Get Params</h6>
                                        <pre><code class="language-javascript">
// 1. app.routes.ts
import {Routes} form '@angular/core';
import { HomeComponent } form './components/...'
export const appRoutes: Routes = [
  {
     path: '',
     redirecTo: '/index',
     pathMatch: 'full'
  },
  {
     path: 'index',
     component: HomeComponent
  },
  {
     path: 'about',
     component: AboutComponent
  },
  {
     path: 'product/:id',
     component: ProductDetailComponent
  },
  {
     path: '**',
     component: 404Component
  },
]
// 2. services/product.service.ts
export class ProductService {
    public products : Product[] = [
        {
            id: 1,
            name: 'Iphone',
            price: 1000,
            status: true,
        }
    ];
    getAllProducts(){return this.products}
    getProductByID(id){
        return product;
    }
}
// 3. models/product.class.ts
export class Product {
    public id: number;
    public name: string;
    public price: number;
    public status: boolean;
    constructor(id:number,name:string,price:number,status:boolean){
        this.id = id;
        this.name = name;
        this.price = price;
        this.status = status;
    }
}
                                        </code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-service" class="section-block">
                                    <div class="code-block">
                                        <h6>Service</h6>
                                        <p>Chia sẻ dữ liệu giữa các component với nhau</p>
                                        <pre><code class="language-javascript">
// Install
ng g service myservice
// Injectable module: module có thể mang vào sử dụng trong module khác - cơ chế Dependency Injection
// app.module.ts
import { MyserviceService } from './myservice.service';
providers: [MyserviceService],
// myservice.service.ts
export class MyserviceService {

  constructor() { }
  myProperty;
  getTodayDate() {
    let ndate = new Date();
    return ndate;
  }
}
// app.component.ts
import { MyserviceService } from './myservice.service';
export class AppComponent {
  constructor(private myservice: MyserviceService) { }
  title = 'bai1';
  todaydate;
  propertyService;
  ngOnInit() {
    this.todaydate = this.myservice.getTodayDate();
    this.myservice.myProperty = "myProperty: App Component";
    this.propertyService = this.myservice.myProperty;
  }
}
// app.component.html
&lt;h3&gt;Dữ liệu todaydate ở App Component: {{todaydate}}&lt;/h3&gt;
&lt;h3&gt;Property service: {{propertyService}}&lt;/h3&gt;
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-http-service" class="section-block">
                                    <div class="code-block">
                                        <h6>Http service</h6>
                                        <pre><code class="language-javascript">
// app.module.ts
import { HttpClientModule } from '@angular/common/http';
imports: [ HttpClientModule]
// app.component.ts
import { HttpClient } from '@angular/common/http';
constructor(private myservice: MyserviceService, private http: HttpClient) { }
results;
ngOnInit() {
    this.http.get("http://jsonplaceholder.typicode.com/users").subscribe(data => {
      console.log(data);
      this.results = data;
    });
  }
// app.component.html
&lt;tr *ngFor="let user of results"&gt;...&lt;/tr&gt;
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-form" class="section-block">
                                    <div class="code-block">
                                        <h6>Form</h6>
                                        <pre><code class="language-javascript">
// Template Driven Form
// app.module.ts
import { FormsModule } from '@angular/forms';
imports: [FormsModule]
// app.component.html
&lt;form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)"&gt;
    &lt;input type="text" name="username" placeholder="username" ngModel&gt;
    &lt;br /&gt;
    &lt;input type="password" name="pwd" placeholder="password" ngModel&gt;
    &lt;br /&gt;
    &lt;input type="submit" value="submit"&gt;
&lt;/form&gt;
// app.component.ts
export class AppComponent {
    onClickSubmit(data) {
        alert("Username bạn vừa nhập là : " + data.username);
     }
}
// Model Driven Form
// app.component.ts
import { ReactiveFormsModule } from '@angular/forms';
imports: [ReactiveFormsModule]
// app.component.ts
import { FormGroup, FormControl, Validators } from '@angular/forms';
export class AppComponent {
    username;
    formdata;
    ngOnInit() {
        this.formdata = new FormGroup({
            username: new FormControl("Freetuts.net", Validators.compose([
                Validators.required,
                Validators.minLength(3),
                Validators.maxLength(20)
            ])),
            pwd: new FormControl("abcd1234", this.pwdLengthValidator)
        });
    }
    onClickSubmit(data) { this.username = data.username; }
    pwdLengthValidator(control){
    if(control.value.length &lt; 6){ return {pwd: true}; } }
}
// app.component.html
&lt;div&gt;
    &lt;form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)"&gt;
        &lt;input type="text" class="fortextbox" name="username" placeholder="username" formControlName="username"&gt;
        &lt;br /&gt;

        &lt;input type="pwd" class="fortextbox" name="pwd" placeholder="pwd" formControlName="pwd"&gt;
        &lt;br /&gt;

        &lt;input type="submit" [disabled] = "!formdata.valid" class="forsubmit" value="Log In"&gt;
    &lt;/form&gt;
&lt;/div&gt;
&lt;p&gt;
    Bạn vừa nhập username : {{username}}
&lt;/p&gt;
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-animation" class="section-block">
                                    <div class="code-block">
                                        <h6>Animation</h6>
                                        <pre><code class="language-javascript">
// app.module.ts
import { BrowserModule } from '@angular/platform-browser';
imports: [BrowserAnimationsModule],
// app.component.html
&lt;div&gt;
    &lt;button (click)="animate()"&gt;Click Me&lt;/button&gt;
    &lt;div [@myanimation]="state" class="rotate"&gt;
        &lt;img style="width: 340px; height: 82px" src=""
            width="100" height="100"&gt;
    &lt;/div&gt;
&lt;/div&gt;
// app.component.ts
import { trigger, state, style, transition, animate } from '@angular/animations';
@Component({
    selector: 'app-root',
    templateUrl: './app.component.html',
    styleUrls: ['./app.component.css'],
    styles: [`
      div{
         margin: 0 auto;
         text-align: center;
      }
      .rotate{
          width: 340px;
          heigh: 82px;
         border:solid 1px red;
      }
   `],
    animations: [
        trigger('myanimation', [
            state('smaller', style({
                transform: 'translateY(100px)'
            })),
            state('larger', style({
                transform: 'translateY(0px)'
            })),
            transition('smaller &lt;=&gt; larger', animate('300ms ease-in'))
        ])
    ]
})
 
export class AppComponent {
    state: string = "smaller";
    animate() {
        this.state = this.state == 'larger' ? 'smaller' : 'larger';
    }
}
                                        </code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="angular-cli" class="section-block">
                                    <div class="code-block">
                                        <h6>Angular CLI</h6>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Directive</th>
                                                    <th>Ghi chú</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>ng new PROJECT-NAME</th>
                                                    <td>Tạo project Angular mới tên là PROJECT-NAME</td>
                                                </tr>
                                                <tr>
                                                    <th>ng g component new-component (--spec false) </th>
                                                    <td>Tạo component mới có tên là new-component</td>
                                                </tr>
                                                <tr>
                                                    <th>ng g directive new-directive</th>
                                                    <td>Tạo directive mới có tên là new-directive</td>
                                                </tr>
                                                <tr>
                                                    <th>ng g pipe new-pipe</th>
                                                    <td>Tạo pipe mới có tên là new-pipe</td>
                                                </tr>
                                                <tr>
                                                    <th>ng g service new-service</th>
                                                    <td>Tạo service mới có tên là new-service</td>
                                                </tr>
                                                <tr>
                                                    <th>ng g module my-module</th>
                                                    <td>Tạo module mới có tên là my-module</td>
                                                </tr>
                                                <tr>
                                                    <th>ng serve --port 3006 --open</th>
                                                    <td>Biên dịch project, chạy ở cổng 3006 và tự động mở lên trình duyệt khi biên dịch xong</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pre><code class="language-javascript">
                                		</code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <!--//section-block-->
                            </section>
                            <!--//doc-section-->
                            <section id="#lifecycle-hook" class="doc-section">
                                <div id="lifecycle-hook" class="section-block">
                                    <div class="code-block">
                                        <h6>Lifecycle Hook</h6>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Hook</th>
                                                    <th>Mục đích & thời điểm</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>ngOnChanges()</th>
                                                    <td>Thự thi khi Angular thiết lập các thuộc tính đầu vào ràng buộc dữ liệu. Được gọi trước ngOnInit() và bất cứ khi nào một
                                                    hoặc nhiều thuộc tính đầu vào ràng buộc dữ liệu thay đổi.</td>
                                                </tr>
                                                <tr>
                                                    <th>ngOnInit()</th>
                                                    <td>Khởi tạo directive / component sau khi Angular hiển thị các thuộc tính ràng buộc dữ liệu và đặt các thuộc tính đầu vào
                                                    của directive / component. Được gọi một lần, sau ngOnChanges() đầu tiên.</td>
                                                </tr>
                                                <tr>
                                                    <th>ngDoCheck()</th>
                                                    <td>Phát hiện và hành động theo những thay đổi mà Angular không thể hoặc sẽ không tự mình phát hiện. Được gọi trong mỗi lần
                                                    chạy phát hiện thay đổi, ngay sau ngOnChanges() và ngOnInit().</td>
                                                </tr>
                                                <tr>
                                                    <th>ngAfterContentInit()</th>
                                                    <td>Thự thi sau khi Angular thêm nội dung bên ngoài vào view của component / view mà directive được đưa vào. Được gọi một
                                                    lần sau ngDoCheck() đầu tiên.</td>
                                                </tr>
                                                <tr>
                                                    <th>ngAfterContentChecked()</th>
                                                    <td>Thự thi sau khi Angular đã kiểm tra nội dung bên ngoài đã được đưa vào view của component. Được gọi sau
                                                    ngAfterContentInit() và mọi ngDoCheck() tiếp theo.</td>
                                                </tr>
                                                <tr>
                                                    <th>ngAfterViewInit()</th>
                                                    <td>Thự thi sau khi Angular khởi tạo các view của component và các view con / view mà directive được đưa vào. Được gọi một
                                                    lần sau ngAfterContentChecked() đầu tiên.</td>
                                                </tr>
                                                <tr>
                                                    <th>ngAfterViewChecked()</th>
                                                    <td>Thực thi sau khi Angular kiểm tra các view của component và các view con /view mà directive được đưa vào. Được gọi sau
                                                    ngAfterViewInit() và mọi ngAfterContentChecked() tiếp theo.</td>
                                                </tr>
                                                <tr>
                                                    <th>ngOnDestroy()</th>
                                                    <td>Dọn dẹp ngay trước khi Angular phá hủy directive / component. Hủy đăng ký Observables và tách trình xử lý sự kiện để
                                                    tránh rò rỉ bộ nhớ. Được gọi ngay trước khi Angular phá hủy directive / component.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pre><code class="language-javascript">
                                        </code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="lifecycle-ngoninit" class="section-block">
                                    <div class="code-block">
                                        <h6>ngOnInit</h6>
                                        <pre><code class="language-javascript">
import {OnInit, OnDestroy, OnChange} from '@angular/core';
export class LifeCycleHook implements OnInit, OnDestroy, OnChange {
    public products : any[] = [];
    constructor(){}

    ngOnInit(){
        this.products = [{
            id: 1,
            title: 'Title',
            ...
        }]
    }
}                                            
                                        </code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="lifecycle-ngonchange" class="section-block">
                                    <div class="code-block">
                                        <h6>ngOnChange</h6>
                                        <pre><code class="language-javascript">
import {OnInit, OnDestroy, OnChange, simpleChanges} from '@angular/core';
ngOnChange(simpleChanges){
    console.log(simpleChanges);
}
                                        </code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
                                <div id="lifecycle-ngcontent" class="section-block">
                                    <div class="code-block">
                                        <h6>ngContent</h6>
                                        <pre><code class="language-javascript">
// parent.component.html
&lt;children-component&gt;
    &lt;h1>This is tag H1&lt;/h1&gt;
    &lt;h2 class="h2"&gt;This is tag H2&lt;/h2&gt;
    &lt;h3 attr-h3&gt;This is tag H3&lt;/h3&gt;
    &lt;h4 attr-h4="h4"&gt;This is tag H4&lt;/h4&gt;
    &lt;h5 with height&gt;This is tag H5&lt;/h5&gt;
    &lt;h6 id="not-working"&gt;This is tag H6&lt;/h6&gt;
&lt;children-component/&gt;
// children.component.ts
&lt;ng-content&gt;&lt;/ng-content&gt;
&lt;ng-content select=".class"&gt;&lt;/ng-content&gt;
&lt;ng-content select="[attr | attr = 'value'][attr1]..."&gt;&lt;/ng-content&gt;
                                        </code></pre>
                                    </div>
                                    <!--//code-block-->
                                </div>
<!--                                <div id="lifecycle-ngaftercontentinit" class="section-block">-->
<!--                                    <div class="code-block">-->
<!--                                        <h6>ngAfterContentInit</h6>-->
<!--                                        <pre><code class="language-javascript">-->

<!--                                        </code></pre>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash;//code-block&ndash;&gt;-->
<!--                                </div>-->
<!--                                <div id="lifecycle-ngaftercontentchecked" class="section-block">-->
<!--                                    <div class="code-block">-->
<!--                                        <h6>ngAfterContentChecked</h6>-->
<!--                                        <pre><code class="language-javascript">-->
<!--                                -->
<!--                                        </code></pre>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash;//code-block&ndash;&gt;-->
<!--                                </div>-->
                            </section>
                            <!--//doc-section-->
                        </div>
                        <!--//content-inner-->
                    </div>
                    <!--//doc-content-->
                    <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                        <div id="doc-nav" class="doc-nav">

                            <nav id="doc-menu" class="nav doc-menu flex-column sticky">
                                <a class="nav-link scrollto" href="#angular-section">Angular</a>
                                <nav class="doc-sub-menu nav flex-column">
                                    <a class="nav-link scrollto" href="#angular-interpolation">Interpolation</a>
                                    <a class="nav-link scrollto" href="#angular-data-binding">Data binding</a>
                                    <a class="nav-link scrollto" href="#angular-input">@Input</a>
                                    <a class="nav-link scrollto" href="#angular-output">@Output</a>
                                    <a class="nav-link scrollto" href="#angular-ngFor">*ngFor</a>
                                    <a class="nav-link scrollto" href="#angular-ngIf">*ngIf</a>
                                    <a class="nav-link scrollto" href="#angular-delaretion">Delaretion</a>
                                    <a class="nav-link scrollto" href="#angular-import">Import</a>
                                    <a class="nav-link scrollto" href="#angular-providers">Providers</a>
                                    <a class="nav-link scrollto" href="#angular-bootstrap">Bootstrap</a>
                                    <a class="nav-link scrollto" href="#angular-event">Event</a>
                                    <a class="nav-link scrollto" href="#angular-ng-template">ng-template</a>
                                    <a class="nav-link scrollto" href="#angular-directive">Directive</a>
                                    <a class="nav-link scrollto" href="#angular-pipe">Pipe</a>
                                    <a class="nav-link scrollto" href="#angular-router">Router</a>
                                    <a class="nav-link scrollto" href="#angular-router-get-params">Get Params</a>
                                    <a class="nav-link scrollto" href="#angular-service">Service</a>
                                    <a class="nav-link scrollto" href="#angular-http-service">Http service</a>
                                    <a class="nav-link scrollto" href="#angular-form">Form</a>
                                    <a class="nav-link scrollto" href="#angular-animation">Animation</a>
                                    <a class="nav-link scrollto" href="#angular-cli">Angular CLI</a>
                                </nav>
                                <a class="nav-link scrollto" href="#lifecycle-hook">Lifecycle Hook</a>
                                <nav class="doc-sub-menu nav flex-column">
                                    <a class="nav-link scrollto" href="#lifecycle-ngoninit">ngOnInit</a>
                                    <a class="nav-link scrollto" href="#lifecycle-ngonchange">ngOnChange</a>
                                    <a class="nav-link scrollto" href="#lifecycle-ngcontent">ngContent</a>
                                        <nav class="doc-sub-menu nav flex-column">
                                            <a class="nav-link scrollto" href="#lifecycle-ngaftercontentinit">ngAfterContentInit</a>
                                            <a class="nav-link scrollto" href="#lifecycle-ngaftercontentchecked">ngAfterContentChecked</a>
                                        </nav>
                                    <a class="nav-link scrollto" href="#lifecycle-ngafterviewtinit">ngAfterViewInit</a>
                                    <a class="nav-link scrollto" href="#lifecycle-ngafterviewchecked">ngAfterViewChecked</a>
                                </nav>
                                <!--//nav-->
                            </nav>
                            <!--//doc-menu-->

                        </div>
                    </div>
                    <!--//doc-sidebar-->
                </div>
                <!--//doc-body-->
            </div>
            <!--//container-->
        </div>
        <!--//doc-wrapper-->

    </div>
    <!--//page-wrapper-->

    <!-- Main Javascript -->
    <script type="text/javascript" src="https://webdonganh.com/documents/assets/plugins/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://webdonganh.com/documents/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://webdonganh.com/documents/assets/plugins/prism/prism.js"></script>
    <script type="text/javascript" src="https://webdonganh.com/documents/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="https://webdonganh.com/documents/assets/plugins/stickyfill/dist/stickyfill.min.js"></script>
    <script type="text/javascript" src="https://webdonganh.com/documents/assets/js/main.js"></script>

</body>

</html>
